/* poppins font  */
.poppins-font {
    font-family: "Poppins", sans-serif;
}

/* common */
* {
    margin: 0;
    padding: 0;
}

/* shear style  */
.primary-btn {
    background-color: #DD0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-weight: 500;
}

/* header section style start  */
.banner {
    display: flex;
    max-width: 1414px;
    margin: 5rem auto;
    background-color: #161616;
    color: white;
    border: none;
    border-radius: 2rem;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    margin-top: 2rem;
}

.banner-content h2 {
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 4.5rem;
}

.banner-content p {
    max-width: 540px;
    margin-bottom: 2rem;
    margin-top: 1.25rem;
}

img {
    width: 100%;
}

.banner-img img {
    display: block;
    padding-top: 2rem;
}

/* quary for tablet  */
@media (max-width:992px) {
    .banner {
        padding: 0 .5rem;
        margin: 2rem 1.25rem;
        border-radius: .5rem;

    }

    .banner-content h2 {
        font-size: 2.3rem;
        line-height: 2.5rem;
        padding-top: 1rem;
    }

    .banner-content p {
        margin-bottom: .5rem;
    }

    .banner-content img {
        padding-top: 7rem;
    }
}

@media (max-width:576px) {
    .banner {
        flex-direction: column;
        border-radius: .5rem;
        padding: 0 .5rem;
        margin: 0 1rem;
    }

    .banner-content {
        text-align: center;
    }
}