/* poppins font  */
.poppins-font {
    font-family: "Poppins", sans-serif;
}

/* common */
* {
    margin: 0;
    padding: 0;
}

/* shear style  */
.primary-btn {
    background-color: #DD0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 1.5rem;
    font-size: 20px;
    font-weight: 500;
}

/* header section style start  */
.banner {
    display: flex;
    max-width: 1414px;
    margin: 5rem auto;
    background-color: #161616;
    color: white;
    border: none;
    border-radius: 2rem;
    justify-content: space-between;
    padding: 0 3rem;
    align-items: center;
    margin-top: 2rem;
}

.banner-content h2 {
    font-size: 4.3rem;
    font-weight: 700;
    line-height: 4.5rem;
}

.banner-content p {
    max-width: 540px;
    margin-bottom: 2rem;
    margin-top: 1.25rem;
}

img {
    width: 100%;
}

.banner-img img {
    display: block;
    padding-top: 2rem;
}

/* manin section style start  */
main{
    max-width:1414px ;
    margin: auto;
}
/* upcoming-match section start  */
.upcoming-match{
    display: flex;
    gap: 55px;
}
.upcoming-match-left{
    background-color: black;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 10px;
    max-width: 312px;
    max-height: 312px;
}
.upcoming-match-left button:nth-child(1){
    background-color: #fff;
    color: black;
}
.upcoming-match-left button:nth-child(2){
    background-color: #fff;
    color: black;
}
/* upcoming-match-right section style  */
.upcoming-match-right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.75rem;
    flex: 1;
}
.card{
    width: 312px;
    height: 362px;
    border: 1px solid rgba(113, 106, 106, 0.656);
    border-radius: .7rem;
}
.card img{
    border-radius: .7rem;
}
.card-content{
    padding-left: 1.25rem;
}
.card-content button{
    color: black;
    background-color: transparent;
    border: 2px solid rgb(113, 99, 99);
    border-radius: 5px;
    margin: .5rem 0;
}
.card-content h4{
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}
.card-bottom{
    display: flex;
    gap: 2.5rem;
    margin-top: 1.25rem;
}
.card-bottom i{
    padding-right: 1rem;
}
/* quary for tablet  */
@media (max-width:992px) {
    .banner {
        padding: 0 .5rem;
        margin: 2rem 1.25rem;
        border-radius: .5rem;

    }

    .banner-content h2 {
        font-size: 2.3rem;
        line-height: 2.5rem;
        padding-top: 1rem;
    }

    .banner-content p {
        margin-bottom: .5rem;
    }

    .banner-content img {
        padding-top: 7rem;
    }
    /* upcoming-match */
     .upcoming-match {
        flex-direction: column;
        border-radius: .5rem;
        padding: 0 .5rem;
        margin: 0 1rem;
    }
     .upcoming-match-left {
        flex-direction: row;
        max-width: 100%;
        background-color: transparent;
    }
    .upcoming-match-left button{
        border: 1px solid rgb(92, 87, 87);
    }

    .upcoming-match-right{
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
}
/* quary for mobile  */
@media (max-width:576px) {
    .banner,
    .upcoming-match {
        flex-direction: column;
        border-radius: .5rem;
        padding: 0 .5rem;
        margin: 0 1rem;
    }

    .banner-content {
        text-align: center;
    }
    /* upcoming-match left */
    .upcoming-match-left{
        background-color: white;
        margin-top: 1.75rem;
        flex-direction: column;
    }
    .upcoming-match-left button{
        border: 1px solid rgb(92, 87, 87);
    }
    /* upcoming-match-right */
    .upcoming-match-right{
    grid-template-columns: repeat(1,1fr);
}
}